
}
.one{
    grid-area: one;
    background-color: blueviolet;
    border-radius: 20px;
}
.two{
    grid-area: two;
    background-color: blueviolet;
    border-radius: 20px;
}
.three{
    grid-area: three;
    background-color: blueviolet;
    border-radius: 20px;
}
.four{
    grid-area: four;
    background-color: blueviolet;
    border-radius: 20px;
}
.five{
    grid-area: five;
    background-color: blueviolet;
    border-radius: 20px;
}
.six{
    grid-area: six;
    background-color: blueviolet;
    border-radius: 20px;
}
.seven{
    grid-area: seven;
    background-color: blueviolet;
    border-radius: 20px;
}
.eight{
    grid-area: eight;
    background-color: blueviolet;
    border-radius: 20px;
}
.nine{
    grid-area: nine;
    background-color: blueviolet;
    border-radius: 20px;
}
.ten{
    grid-area: ten;
    background-color: blueviolet;
    border-radius: 10px;
}
.elven{
    grid-area: elven;
    background-color: blueviolet;
    border-radius: 20px;
}
.twelve{
    grid-area: twelve;
    background-color: blueviolet;
    border-radius: 20px;
}
.thirtheen{
    grid-area: thirtheen;
    background-color: blueviolet;
    border-radius: 20px;
}